<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>press</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content>
            <!-- <ion-img src="../assets/icon/favicon.png"></ion-img> -->
            <ion-label>Title</ion-label>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore a odio et accusamus aliquam voluptatum maiores
              consequuntur esse aliquid dolor porro laborum qui maxime ipsa, rem non tempore ullam eaque.</p>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <ion-card-content>
            <!-- <ion-img src="../assets/icon/favicon.png"></ion-img> -->
            <ion-label>Title</ion-label>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore a odio et accusamus aliquam voluptatum maiores
              consequuntur esse aliquid dolor porro laborum qui maxime ipsa, rem non tempore ullam eaque.</p>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <ion-card-content>
            <!-- <ion-img src="../assets/icon/favicon.png"></ion-img> -->
            <ion-label>Title</ion-label>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore a odio et accusamus aliquam voluptatum maiores
              consequuntur esse aliquid dolor porro laborum qui maxime ipsa, rem non tempore ullam eaque.</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-content>
            <!-- <ion-img src="../assets/icon/favicon.png"></ion-img> -->
            <ion-label>Title</ion-label>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore a odio et accusamus aliquam voluptatum maiores
              consequuntur esse aliquid dolor porro laborum qui maxime ipsa, rem non tempore ullam eaque.</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content>
            <!-- <ion-img src="../assets/icon/favicon.png"></ion-img> -->
            <ion-label>Title</ion-label>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore a odio et accusamus aliquam voluptatum maiores
              consequuntur esse aliquid dolor porro laborum qui maxime ipsa, rem non tempore ullam eaque.</p>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <ion-card-content>
            <!-- <ion-img src="../assets/icon/favicon.png"></ion-img> -->
            <ion-label>Title</ion-label>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore a odio et accusamus aliquam voluptatum maiores
              consequuntur esse aliquid dolor porro laborum qui maxime ipsa, rem non tempore ullam eaque.</p>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <ion-card-content>
            <!-- <ion-img src="../assets/icon/favicon.png"></ion-img> -->
            <ion-label>Title</ion-label>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore a odio et accusamus aliquam voluptatum maiores
              consequuntur esse aliquid dolor porro laborum qui maxime ipsa, rem non tempore ullam eaque.</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-content>
            <!-- <ion-img src="../assets/icon/favicon.png"></ion-img> -->
            <ion-label>Title</ion-label>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore a odio et accusamus aliquam voluptatum maiores
              consequuntur esse aliquid dolor porro laborum qui maxime ipsa, rem non tempore ullam eaque.</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>