<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Blank </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <ion-row class="container">
    <img src="../../assets/home.jpg" alt="Snow" style="width: 100%" />
    <div class="logo">
      <h1 style="color: white">. RAAHI .</h1>
    </div>
    <div style="position: absolute; top: 90%; margin-left: 10%">
      <ion-row class="ion-align-items-end">
        <ion-col style="padding: 5px">
          <ion-button
            size="large"
            color="light"
            [routerLink]="['/flight-search']"
            ><div style="margin-top: 10px; margin-bottom: 10px">
              <ion-icon
                name="airplane-outline"
                color="primary"
                style="font-size: 30px"
              ></ion-icon>
              <p style="color: rgb(13, 63, 87); font-weight: bold">Flights</p>
            </div>
          </ion-button>
        </ion-col>
        <ion-col>
          <!-- <ion-button
            fill="outline"
            color="primary"
            [routerLink]="['/hotel-search']"
            >Hotels <ion-icon name="home"></ion-icon>
          </ion-button> -->
          <ion-button
          size="large"
          color="light"
          [routerLink]="['/flight-search']"
          ><div style="margin-top: 10px; margin-bottom: 10px">
            <ion-icon
              name="home-outline"
              color="primary"
              style="font-size: 30px"
            ></ion-icon>
            <p style="color: rgb(13, 63, 87); font-weight: bold">Hotels</p>
          </div>
        </ion-button>
        </ion-col>
      </ion-row>
    </div>
  </ion-row>
  <div style="margin-top: 20%">
    <h1 style="text-align: start; padding-left: 10px">Popular Destinations</h1>
    <ion-slides
      [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }"
    >
      <ion-slide *ngFor="let card of destination" style="width: 200px">
        <ion-card class="card" [routerLink]="['/flights']">
          <ion-label class="top-left" style="color: white; font-size: 20px"
            >{{ card.name }}</ion-label
          >
          <ion-img
            style="pointer-events: none; height: 100%; width: 100%"
            src="{{card.image}}"
          ></ion-img>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </div>

  <div>
    <h1 style="text-align: start; padding-left: 10px">Staycations</h1>
    <ion-slides
      [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }"
    >
      <ion-slide *ngFor="let s of staycation" style="width: 200px">
        <ion-card [routerLink]="['/hotel']">
          <!-- <ion-label  >{{ card.name }}</ion-label> -->

          <ion-img
            style="pointer-events: none; height: 100%; width: 100%"
            src="{{s.image}}"
          ></ion-img>
          <ion-card-header>
            <ion-card-title>{{ s.name }}</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </div>
  <!-- <ion-grid>
    <ion-row style="margin-top: 30%">
    
      <ion-text style="margin-left: 37%">
        <h1>Raahi</h1>
      </ion-text>
     
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-text>
          <h3 style="text-align: center">Search all travel deals in one go</h3>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button
          expand="block"
          fill="outline"
         color="primary"
          [routerLink]="['/hotel-search']"
          >Hotels
          <ion-icon name="home"></ion-icon>
        </ion-button>
      
      </ion-col>
      <ion-col>
        <ion-button
          expand="block"
          fill="outline"
         color="primary"
          [routerLink]="['/flight-search']"
          >Flights
          <ion-icon name="airplane-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid> -->
</ion-content>
