// #container {
//   text-align: center;

//   position: absolute;
//   left: 0;
//   right: 0;
//   top: 50%;
//   transform: translateY(-50%);
// }

// #container strong {
//   font-size: 20px;
//   line-height: 26px;
// }

// #container p {
//   font-size: 16px;
//   line-height: 22px;

//   color: #8c8c8c;

//   margin: 0;
// }

// #container a {
//   text-decoration: none;
// }
.container {
  position: relative;
  width: 100%;
  // max-width: 400px;
 
}

.container img {
  width: 100%;
  height: 200px;
  
  border-radius: 0px 0px 100% 100% ;
}
.container .logo{
  position: absolute;
 
  top: 20%;
  left: 35%;
}



.card{
  position: relative;
  text-align: center;

}
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}