<ion-header>
  <ion-toolbar >
    <ion-buttons slot="start">
      <!-- <ion-back-button></ion-back-button> -->
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>FlightSort</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item lines="none">
    <ion-checkbox></ion-checkbox>
    <ion-label>Lowest Price</ion-label>
  </ion-item>
  <ion-item lines="none">
    <ion-checkbox></ion-checkbox>
    <ion-label>Shortest Duration</ion-label>
  </ion-item>
  <ion-item lines="none">
    <ion-checkbox></ion-checkbox>
    <ion-label>Best Experience</ion-label>
  </ion-item>
  <ion-item lines="none">
    <ion-checkbox></ion-checkbox>
    <ion-label>Earliest Departure</ion-label>
  </ion-item>
  <ion-item lines="none">
    <ion-checkbox></ion-checkbox>
    <ion-label>Latest Departure</ion-label>
  </ion-item>
  <ion-item lines="none">
    <ion-checkbox></ion-checkbox>
    <ion-label>Earliest Departure</ion-label>
  </ion-item>
  <ion-item lines="none">
    <ion-checkbox></ion-checkbox>
    <ion-label>Latest Departure</ion-label>
  </ion-item>
</ion-content>
