.page {
}
.content_bg {
    /* margin: 50px 0; */
    background-image: url('https://image.freepik.com/free-vector/hand-painted-watercolor-nature-background_23-2148941599.jpg');
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
}