<ion-header>
    <ion-toolbar color="success">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Flights Search</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-tabs tabbar-placement="top" color="success">
        <ion-tab label="One Way" >
           <app-one-way></app-one-way>
        </ion-tab>
       
        <ion-tab label="Round Trip" >
            <app-round-trip></app-round-trip>
        </ion-tab>
       
      </ion-tabs>
</ion-content>
<ion-footer>
    <ion-button expand="full" color="warning" href="/flights">Search Flights</ion-button>
</ion-footer>