<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>About Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card style="width: 100%; height: 400px">
    <ion-card-content>
      <!-- <ion-img src="assets/icon/favicon.png" style="max-width: 100%; height: auto;"> -->
      <ion-label>image here</ion-label>
      <!-- </ion-img> -->
    </ion-card-content>
  </ion-card>
  <ion-grid style="background-color: lightblue">
    <ion-row>
      <h2>Who we are?</h2>
    </ion-row>
    <ion-row>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi fuga
        placeat animi neque ex provident? Rem maiores soluta, quod facere
        veritatis exercitationem assumenda possimus? Et nisi pariatur iusto
        temporibus veritatis!
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea modi
        veritatis labore iusto illo voluptatum, tempore impedit neque error sunt
        pariatur ipsum cum earum minus minima quibusdam dignissimos explicabo
        suscipit?
      </p>
    </ion-row>
  </ion-grid>
  <ion-grid style="background-color: white">
    <ion-row>
      <h2>Our Philosophy</h2>
    </ion-row>
    <ion-row>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati non
        atque, rem veniam est quia quo ab sit minima nisi? Magni alias iure
        facere possimus sequi, vitae doloribus autem ipsum?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam
        laudantium qui in commodi itaque vero numquam non dolores, et quaerat,
        voluptatum sunt! Quae ducimus quaerat eius iure nam blanditiis
        laudantium!
      </p>
    </ion-row>
  </ion-grid>
  <ion-grid style="background-color: lightblue">
    <ion-row>
      <ion-col>
        <h2>How it started?</h2>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore saepe
          minima repellendus doloribus quam dolores facilis consequuntur alias
          nihil recusandae provident odit, harum earum commodi quia quibusdam,
          magni ab incidunt?
        </p>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat non
          fugit ipsum accusamus omnis pariatur quam incidunt, earum voluptatem
          est eligendi architecto eius officia quibusdam esse suscipit, quis
          repudiandae cum.
        </p>
      </ion-col>
      <ion-col>
        <h2>Our People</h2>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero optio
          aspernatur quae beatae voluptates minus vel alias suscipit odit quasi
          nihil aperiam, eaque maxime iure quas exercitationem velit quibusdam
          atque.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo ipsum
          quia enim veritatis voluptatum nisi impedit, consectetur omnis quasi
          nulla similique! Quibusdam at molestias facilis consectetur aliquam
          accusamus sequi voluptas.
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <h1>At your service. Anywhere. Anytime</h1>
    <ion-icon name="logo-vimeo"></ion-icon>
    <ion-icon name="logo-facebook"></ion-icon>
    <ion-icon name="logo-googleplus"></ion-icon>
    <ion-icon name="logo-twitter"></ion-icon>
  </ion-grid>
</ion-content>
