<ion-header>
  <ion-toolbar color="success">
      <ion-buttons slot="start">
          <!-- <ion-menu-button></ion-menu-button> -->
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title>HotelSort</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-item lines="none">
        <ion-checkbox></ion-checkbox>
        <ion-label>Recommanded</ion-label>
    </ion-item>
    <ion-item lines="none">
        <ion-checkbox></ion-checkbox>
        <ion-label>Lowest Price</ion-label>
    </ion-item>
    <ion-item lines="none">
        <ion-checkbox></ion-checkbox>
        <ion-label>Highest Price</ion-label>
    </ion-item>
    <ion-item lines="none">
        <ion-checkbox></ion-checkbox>
        <ion-label>Best discount(%)</ion-label>
    </ion-item>
    <ion-item lines="none">
        <ion-checkbox></ion-checkbox>
        <ion-label>Biggest Savings</ion-label>
    </ion-item>
    <ion-item lines="none">
        <ion-checkbox></ion-checkbox>
        <ion-label>Best Reviws</ion-label>
    </ion-item>
    <ion-item lines="none">
        <ion-checkbox></ion-checkbox>
        <ion-label>Nearest to city center</ion-label>
    </ion-item>
    <ion-item lines="none">
        <ion-checkbox></ion-checkbox>
        <ion-label>Nearest to airport</ion-label>
    </ion-item>
    <ion-item lines="none">
        <ion-checkbox></ion-checkbox>
        <ion-label>Stars - 1 to 5</ion-label>
    </ion-item>
    <ion-item lines="none">
        <ion-checkbox></ion-checkbox>
        <ion-label>Stars - 5 to 1</ion-label>
    </ion-item>
    

</ion-content>
