<ion-header>
  <ion-toolbar color="#f5f6f9">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Hotels</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-grid>
    <ion-row>
      <!-- <ion-col size="3">
        <app-manu></app-manu>
      </ion-col> -->
      <ion-col>
        <app-main-content></app-main-content>
      </ion-col>
      <!-- <ion-col size="2">
        spece for add
      </ion-col> -->
    </ion-row>
  </ion-grid>

  <!-- <ion-item *ngFor="let hotel of hotels">
    <h2>{{hotel.Name}}</h2>
  </ion-item>-->

</ion-content>