<ion-header>
  <ion-toolbar color="success">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
          </ion-buttons>
    <ion-title>Hotels Search</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-item lines="inset">
    <ion-row >
      <ion-col size="2">
<ion-icon name="map"></ion-icon>
      </ion-col>
      <ion-col >
        Destination
      </ion-col>
    </ion-row>
  </ion-item>
    <ion-row lines="inset">
      <ion-item lines="inset">
      <ion-col size="2">
        <ion-icon name="calendar"></ion-icon>
      </ion-col>
      <ion-col>
        Select Date
      </ion-col>
    </ion-item>
    </ion-row>
    <ion-row>
      <ion-col lines="inset">
          <ion-item>
              <ion-label>Check in Date</ion-label>
              <ion-datetime display-format="MMM DD, YYYY "></ion-datetime>
            </ion-item>
      </ion-col>
      <ion-col lines="inset">
          <ion-item>
              <ion-label>Check out Date</ion-label>
              <ion-datetime display-format="MMM DD, YYYY "></ion-datetime>
            </ion-item>
        </ion-col>
    </ion-row>
    <ion-row>
      <ion-item>
      <ion-col size="3">
        <ion-icon name="bed"></ion-icon>
      </ion-col>
      <ion-col>
        Rooms
      </ion-col>
    </ion-item>
    </ion-row>
  </ion-grid>

</ion-content>
<ion-footer>
    <ion-button expand="full" color="warning" href="/hotels">Search Hotels</ion-button>
  </ion-footer>
