<ion-header>
  <ion-toolbar color="success">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
          </ion-buttons>
    <ion-title>Hotels Search</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<ion-grid>
  <ion-item>
    <ion-row lines="inset">
      <ion-col>
        <div>
          <ion-icon name="map"></ion-icon>
        </div>
      </ion-col>
      <ion-col>
        <div>
          Destination
        </div>
      </ion-col>

    </ion-row>
  </ion-item>
 
  <ion-item>
    <ion-row lines="inset">
      <ion-col>
        <div>
          <ion-icon name="calendar"></ion-icon>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <ion-label>Check-in Date</ion-label>
          <ion-datetime display-format="MMM DD, YYYY "></ion-datetime>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <ion-label>Check-out Date</ion-label>
          <ion-datetime display-format="MMM DD, YYYY "></ion-datetime>
        </div>
      </ion-col>
    </ion-row>
  </ion-item>

  <ion-item>
      <ion-row lines="inset">
        <ion-col>
          <div>
            <ion-icon name="bed"></ion-icon>
          </div>
        </ion-col>
        <ion-col>
          <div>
              Rooms
          </div>
        </ion-col>

      </ion-row>
    </ion-item>

</ion-grid>


</ion-content>
<ion-footer>
    <ion-button expand="full" color="warning" href="/hotels">Search Hotels</ion-button>
  </ion-footer>
