<ion-grid>
  <ion-item>
    <ion-row>
      <ion-col>
        <ion-icon name="md-jet"></ion-icon>
      </ion-col>
      <ion-col>
        Departure
      </ion-col>
    </ion-row>
  </ion-item>

  <ion-item>
    <ion-row>
      <ion-col>
        <ion-icon name="md-jet"></ion-icon>
      </ion-col>
      <ion-col>
        Destination
      </ion-col>
    </ion-row>
  </ion-item>

  <ion-item>
    <ion-row lines="inset">
      <ion-col>
        <div>
          <ion-icon name="calendar"></ion-icon>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <ion-label>Departure Date</ion-label>
          <ion-datetime display-format="MMM DD, YYYY "></ion-datetime>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <ion-label>  Destination Date</ion-label>
          <ion-datetime display-format="MMM DD, YYYY "></ion-datetime>
        </div>
      </ion-col>
    </ion-row>
  </ion-item>
  
  <ion-item  href="/passengers">
    <ion-row>
      <ion-col>
        <ion-icon name="people"></ion-icon>
      </ion-col>
      <ion-col>
        Passengers
      </ion-col>
    </ion-row>
  </ion-item>

  <ion-item>
    <ion-label>Cabin Class</ion-label>
    <ion-select [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="Select One">
      <ion-select-option value="Economy">Economy</ion-select-option>
      <ion-select-option value="Premium Economy">Premium Economy</ion-select-option>
      <ion-select-option value="Business Class">Business Class</ion-select-option>
      <ion-select-option value="First Class">First Class</ion-select-option>
    </ion-select>
  </ion-item>
  
</ion-grid>