<ion-list>
  <app-map-view></app-map-view>
  <app-hotel-search></app-hotel-search>
  <app-price></app-price>
  <app-star-rating></app-star-rating>
  <app-accommodation-type></app-accommodation-type>
  <app-guest-review-score></app-guest-review-score>
  <app-highly-rated-by-guests></app-highly-rated-by-guests>
  <app-districts-areas></app-districts-areas>
  <app-hotel-chains-and-brands></app-hotel-chains-and-brands>
  <app-free-amenities></app-free-amenities>
  <app-hotel-amenities></app-hotel-amenities>
</ion-list>