<ion-list>
  <app-map-view></app-map-view>
  <app-hotel-search></app-hotel-search>
 <app-price></app-price>
  <app-star-rating></app-star-rating>
  <app-accomodation-type></app-accomodation-type>
  <app-guests-reviewscore></app-guests-reviewscore>
  <app-highly-rated-by-guests></app-highly-rated-by-guests>
  <app-districts-and-areas></app-districts-and-areas>
  <app-hotel-chains-and-brands></app-hotel-chains-and-brands>
  <app-free-amenities></app-free-amenities>
  <app-hotel-amenities></app-hotel-amenities>
</ion-list>

