<ion-list>
<ion-item>
  
  <ion-label>
    <h2> Departure</h2>
    <p>Choose  Departure</p>
  </ion-label>
  <ion-icon name="airplane-outline" slot="start"></ion-icon>
</ion-item>
<ion-item>
  <ion-label>
   
    <h2>  Destination</h2>
    <p>Choose   Destination</p>
  </ion-label>
  <ion-icon name="airplane-outline" slot="start"></ion-icon>
</ion-item>
<ion-item>
  <ion-label>
    <h2>  Departure Date</h2>
    <p>Choose   Date</p>
  </ion-label>
  <ion-datetime display-format="MMM DD, YYYY "></ion-datetime>
  <ion-icon name="calendar" slot="start"></ion-icon>
</ion-item>

<ion-item [routerLink]="['/passengers']">
  <ion-label>
   
    <h2>  1 Adult</h2>
    <p> Passengers</p>
  </ion-label>
  <ion-icon name="people" slot="start"></ion-icon>
</ion-item>

<ion-item>
  <ion-label>Select Cabin Class</ion-label>
  <ion-select >
    <ion-select-option value="Economy">Economy</ion-select-option>
    <ion-select-option value="Premium Economy">Premium Economy</ion-select-option>
    <ion-select-option value="Business Class">Business Class</ion-select-option>
    <ion-select-option value="First Class">First Class</ion-select-option>
  </ion-select>
</ion-item>
</ion-list>
<!-- <ion-item>
  <ion-label>
    Destination
  </ion-label>
  <ion-icon name="airplane-outline" slot="start"></ion-icon>
</ion-item>

<ion-item>
  <ion-label>Departure Date</ion-label>
  <ion-datetime display-format="MMM DD, YYYY "></ion-datetime>
  <ion-icon name="calendar" slot="start"></ion-icon>
</ion-item>

<ion-item [routerLink]="['/passengers']">
  <ion-label>
    Passengers
  </ion-label>
  <ion-icon name="people" slot="start"></ion-icon>
</ion-item>

<ion-item>
  <ion-label>Select Cabin Class</ion-label>
  <ion-select >
    <ion-select-option value="Economy">Economy</ion-select-option>
    <ion-select-option value="Premium Economy">Premium Economy</ion-select-option>
    <ion-select-option value="Business Class">Business Class</ion-select-option>
    <ion-select-option value="First Class">First Class</ion-select-option>
  </ion-select>
</ion-item> -->