<ion-header>
  <ion-toolbar color="success">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Privacy</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<ion-grid>
  <ion-row>
    <h1 style="color: rgb(24, 226, 125);">Privacy Policy</h1>
  </ion-row>
  <ion-row>
    <h2>What the Wego Privacy Policy Covers</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex alias nobis, veritatis corrupti est accusamus! Nemo sint doloribus voluptatibus soluta maiores. Similique culpa at doloremque ut eaque amet error recusandae!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi aperiam adipisci magnam eius, vero totam porro ducimus perspiciatis, asperiores labore corporis cum nisi dolore ad odit, tempore nobis repellendus tempora?</p>

  </ion-row>
  <ion-row>
    <h2>Information Collection and Use by us</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, soluta aspernatur quidem magnam ad voluptas atque sed quaerat blanditiis, neque dolorum veritatis iusto molestiae numquam aperiam nesciunt. Ducimus, accusantium sint?</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quibusdam autem quia eum, quaerat architecto quos veniam quidem sit voluptas temporibus fugiat vitae, id incidunt minus velit delectus, expedita nostrum reprehenderit?</p>

  </ion-row>
  <ion-row>
    <h2></h2>
  </ion-row>
</ion-grid>
</ion-content>
