<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content  >
    
  <ion-grid  >
    <ion-row style="margin-top: 30%">
      <!-- <ion-col > -->
        <ion-text color="light" style="margin-left: 35%">
          <h1>Raahi </h1>
        </ion-text>
      <!-- </ion-col> -->
    </ion-row>
    <ion-row  >
      <ion-col >

        <ion-text color="light">
          <h3>Search all travel deals in one go </h3>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="block" fill="outline" color="light"  [routerLink]="['/hotel-search']">Hotels
          <ion-icon  name="home"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" fill="outline" color="light"  [routerLink]="['/flight-search']">Flights
          <ion-icon  name="md-jet"></ion-icon>

        </ion-button>
      </ion-col>

    </ion-row>
  </ion-grid>
  </ion-content>