.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}
.bg-image{
  background-image: url(../../assets/img/bg_home.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: auto;
  width: 100%;
 
  
  
}

.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}
ion-content {
  --background: url(../../assets/img/bg_home.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  // height: auto;
  width: 100%;
}