<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
     
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="bg-image">
  <ion-grid   >
    <ion-row   >
      <ion-col >
        <ion-text color="light" align-self-center>
          <h1>Raahi </h1>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row  >
      <ion-col >
        
        <ion-text color="light">
          <h3>Search all travel deals in one go </h3>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="block" fill="outline" color="light" routerLink="/HotelSearch">Hotels
          <ion-icon  name="home"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" fill="outline" color="light">Flights
          <ion-icon  name="plane"></ion-icon>
        
        </ion-button>
      </ion-col>
   
    </ion-row>
  </ion-grid>
  </ion-content>
 
  <!-- <ion-card class="bg-image" style="height: 500px">
    <ion-card-content>
     
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-searchbar animated></ion-searchbar>
          </ion-col>
          <ion-col>
            <ion-button>login</ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button>Hotel</ion-button>
            <ion-button>Flights</ion-button>
          </ion-col>


        </ion-row>
        <ion-row>
          <ion-col>
            <ion-chip>
              <ion-label>Round trip</ion-label>
            </ion-chip>
            <ion-chip>
              <ion-label>One Way</ion-label>
            </ion-chip>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label>Check in</ion-label>
              <ion-datetime display-format="MMM DD, YYYY "></ion-datetime>
            </ion-item>
            <ion-item>
              <ion-label>Check out</ion-label>
              <ion-datetime display-format="MMM DD, YYYY "></ion-datetime>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card> -->