.bg-image{
    background-image: url(../../assets/img/bg3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: auto;
    width: 100%;
   
    
    
}

.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}